name: 'Deploy'

on:
  workflow_call:
    inputs:
      CLI:
        required: true
        type: string
      SCOPE:
        required: true
        type: string
      ENV:
        required: true
        type: string
      ACCESS_KEY:
        required: true
        type: string
    secrets:
      SECRET_KEY:
        required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm install --global npm@11
      - run: npm ci
      - run: npm run build
      - run: npx ${{ inputs.CLI }} api scope ${{ inputs.SCOPE }}
      - run: npx ${{ inputs.CLI }} api deploy --env ${{ inputs.ENV }} --force
        env:
          ONEBLINK_ACCESS_KEY: ${{ inputs.ACCESS_KEY }}
          ONEBLINK_SECRET_KEY: ${{ secrets.SECRET_KEY }}
