name: Production Deployment

on: [workflow_dispatch]

jobs:
  #
  # OneBlink Tenant
  #
  OneBlinkProduction:
    name: Production Deployment (OneBlink)
    uses: ./.github/workflows/deployment.yml
    with:
      CLI: oneblink
      SCOPE: oneblink-data-sources.api.oneblink.io
      ENV: prod
      ACCESS_KEY: ${{ vars.OB_ACCESS_KEY }}
    secrets:
      SECRET_KEY: ${{ secrets.OB_SECRET_KEY }}
  #
  # CivicPlus Tenant
  #
  CivicPlusProduction:
    name: Production Deployment (CivicPlus)
    uses: ./.github/workflows/deployment.yml
    with:
      CLI: civicplus
      SCOPE: oneblink-data-sources.api.transform.civicplus.com
      ENV: prod
      ACCESS_KEY: ${{ vars.CP_ACCESS_KEY }}
    secrets:
      SECRET_KEY: ${{ secrets.CP_SECRET_KEY }}
  #
  # OneBlink US Tenant
  #
  OneBlinkUSProduction:
    name: Production Deployment (OneBlink US)
    uses: ./.github/workflows/deployment.yml
    with:
      CLI: oneblink-us
      SCOPE: oneblink-data-sources.api.us.oneblink.io
      ENV: prod
      ACCESS_KEY: ${{ vars.OB_US_ACCESS_KEY }}
    secrets:
      SECRET_KEY: ${{ secrets.OB_US_SECRET_KEY }}
